# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Node
node_modules
.build
package-lock.json
npm-debug.log
node_modules
sbom*.cdx.json

# Cordova
platforms
plugins

# res
resources/signing

# The "www" directory needs to be present, otherwise "cordova prepare" after a "git clone ..." will fail!
www/*
!www/.gitkeep
