<?xml version='1.0' encoding='utf-8'?>
<widget id="cloud.charging.open.apps.mobile" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChargyMobileApp</name>
    <description>
        Transparenzsoftware für die Elektromobilität
    </description>
    <author email="achim.friedland@graphdefined.com" href="https://www.graphdefined.com">
        Achim Friedland
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <hook src="scripts/beforePrepare.js" type="before_prepare" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <engine name="browser" spec="^6.0.0" />
    <engine name="ios" spec="^5.0.0" />
    <engine name="android" spec="^8.0.0" />
</widget>
