/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {

  -webkit-touch-callout: default;             /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */

  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:12px;

  margin:             0px;
  padding:            0px;
  background-color: #87cafa;
  min-height:         100vh;
  min-width:          90vw;
  overflow-x:         hidden;
  scrollbar-width:    none;  // Firefox only!

  #importantInfo {
    display:            none;
    position:           fixed;
    top:                0px;
    left:               0px;
    right:              0px;
    z-index:            1000;
    text-align:         center;
    padding:            15px 5px;
    color:            #f5f5f5;
    background-color: rgba(255, 0, 0, 0.75)
  }

  #logo {
    position:           fixed;
    top:                0px;
    left:               0px;
    right:              0px;
    height:             8vh;
    padding-left:       1vw;
  }
  
  .fa-check-circle {
    color:            #5ab337;
  }

  .fa-times-circle {
    color:            #CC0000;
  }

  .pages {

    display:            none;
    position:           absolute;
    min-height:         92vh;
    min-width:          100vw;
    top:                8vh;
    background-color: #87cafa;

    .subpages {

      display:            flex;
      flex-direction:     row;

      .subpage {

          min-height:     100vh;
          min-width:      100vw;
          border-right:   1px solid #AAAAAA;

          .title {

            font-size:        120%;
            // color:            #974400;
            color:            #ffeee0;
            background-color: #ff9136;
            padding:          20px 20px 15px 20px;
            // background:       linear-gradient(to right,#ff7300 0%, #ffffff 100%);

            i {
              font-size:      100%;
              padding-right:  5px;
            }

          }

          .properties {

            display:          table;
            margin:           4vh 6vw 0vh 6vw;
            border-collapse:  collapse;

            .row {

              display:          table-row;

              .key, .headline, .value {
                display:          table-cell;
                vertical-align:   top;
                padding-bottom:   8px;
              }

              .headline {
                padding-top:      4px;
                font-weight:      bold;
              }

              .value {
                padding-left:     20px;
                word-break:       break-word;
              }

            }

          }

      }

      .subpage:last-child {
        border:           0px;
      }

    }

    #backButtonDiv {

      display:        none;
      position:       absolute;
      left:           0px;
      bottom:         0px;

      #backButton {
          border:             0;
          // background-color:   #cce5f7;
          // padding:            7px 14px 8px 13px;
          // border-radius:      50%;
          background-color:   transparent;
          color:            #b6d8f1;
          margin:             4px;
          font-size:          280%;
      }

      #backButton:hover {
          // background-color:   #519ad0;
          color:            #519ad0;
      }

    }

  }

  #startPage {

    margin:             auto;
    font-size:          140%;
  
    #text {
      margin:             6vh 5vw 7vh 5vw;
      text-align:         center;
      font-size:          110%;
      line-height:        130%;
    }

    #buttonsDiv {

      // padding:            8px 0px 15px 0px;
      display:            flex;
      // width:              100%;
      justify-content:    space-evenly;

      button {

        font-size:          95%;
        line-height:        125%;
        width:              38vw;
        height:             38vw;
        padding:            0;
        margin:             0;
        outline:            0;
        border:             0;
        border-radius:      50%;
        background-color:   #aeddff;
        box-shadow:         none;
        align-self:         center;

        i {
            font-size:          150%;
            padding-bottom:     7px;
        }

      }

      button:hover {
          color:              #f7f7f7;
          background-color:   #519ad0;
      }

    }

    #loadingErrors {
      
      min-height:         7vh;
      font-family:        Arial;
      font-size:          120%;
      text-align:         center;

      #errorText {
          
        display:            none;
        padding:            10px 30px 17px 30px;
        background-color:   #e46464a6;
        border-radius:      6px;

        i {
            position:           relative;
            font-size:          160%;
            top:                5px;
            padding-right:      3px;
        }

      }

    }

  }

  #chargingSessionsPage {

    #aa {

      display:          flex;
      flex-direction:   column;
      height:           92vh;

      #infos {

        padding:        4px 8px 6px 8px;

        #description {
          padding:        0px 0px 5px 0px;
          font-size:      125%;
          font-weight:    bold;
        }

        #dates {

          display:        table;
          margin-left:    8px;

          .row {

            display:        table-row;

            .key {
              display:        table-cell;
            }

            .value {
              display:        table-cell;
              padding-left:   5px;
            }

          }

        }

      }

      #map {
        
        width:      100%;
        height:     35vh;

        .leaflet-control-zoom {
          display:    none;
        }

        .leaflet-control-attribution {
          font-size:  65%;
        }

      }

      #chargingSessions {

        flex-direction:     column;
        margin:             4px 4px 4px 4px;
        //height:             calc(55vh);
        overflow-y:         scroll;
        scrollbar-width:    none;  // Firefox only!

        .chargingSession {

          position:           relative;
          margin-bottom:      4px;
          padding:            7px 11px;
          background-color:   #d6e4ef;
          border-radius:      6px;
          cursor:             pointer;

          .date {
            font-weight:        bold;
            padding:            2px 0px 3px 0px;
            font-size:          105%;
          }

          .table {

            display:            table;
            border-collapse:    separate;
            border-spacing:     4px 4px;

            .productInfos {

              display:            table-row;

              .icon {
                display:            table-cell;
                padding:            6px 7px 0px 3px;
                text-align:         center;
                vertical-align:     top;
              }

              .text {
                display:            table-cell;
                color:            #212427;
              }

            }

            .authorizationStart {

              display:            table-row;

              .icon {
                display:            table-cell;
                padding:            0px 7px 0px 3px;
                text-align:         center;
                vertical-align:     top;
              }

              .id {
                display:            table-cell;
              }

            }

            .authorizationStop {

              display:            table-row;

              .icon {
                display:            table-cell;
                padding:            0px 7px 0px 3px;
                text-align:         center;
                vertical-align:     top;
              }

              .id {
                display:            table-cell;
              }

            }

            .locationInfos {

              display:            table-row;

              .icon {
                display:            table-cell;
                padding:            6px 7px 0px 3px;
                text-align:         center;
                vertical-align:     top;
              }

              .text {
                display:            table-cell;
                color:            #212427;
              }                                        

            }

          }

          .verificationStatus {

            position:           absolute;
            top:                14px;
            right:              12px;
            text-align:         center;
            font-size:          80%;

            i {
              display:            block;
              font-size:          250%;
              padding-bottom:     4px;
            }

          }

        }

        .chargingSession:hover {
            background-color:       #b8cdde;
        }

        .chargingSession:last-child {
          margin-bottom:            0px;
        }

        .activated {
            background-color:       #b5d4ec;
        }

      }

      #chargingSessions::-webkit-scrollbar {
          display:            none;
      }

    }

  }

  #evseTarifInfosPage {

      display: none;

      #evseTarifInfos {

          padding:            0 3vw;
          width:              94vw;
          font-family:        Arial;
          color:              #2c4a60;
          font-size:          125%;
          //overflow-y:         scroll;

          #headline {
              color:              #2e71a2;
              font-weight:        bold;
              padding-bottom:     20px;
          }

          .measurementInfo {

              display:            table;
              padding-top:        2vh;

              .meter {

                  display:            table-row;

                  .meterId {
                      display:            table-cell;
                      padding-right:      20px;
                  }

                  .meterIdValue {
                      display:            table-cell;
                  }

              }

              .meterVendor {

                  display:            table-row;

                  .meterVendorId {
                      display:            table-cell;
                      padding-right:      20px;
                  }

                  .meterVendorValue {
                      display:            table-cell;
                  }

              }

              .meterModel {

                  display:            table-row;

                  .meterModelId {
                      display:            table-cell;
                      padding-right:      20px;
                  }

                  .meterModelValue {
                      display:            table-cell;
                  }

              }

              .measurement {

                  display:            table-row;

                  .measurementId {
                      display:            table-cell;
                      padding-right:      30px;
                  }

                  .measurementIdValue {
                      display:            table-cell;
                  }

              }

          }

          .measurementValues {

              display:            table;
              padding:            2vh 0;
              width:              100%;
              cursor:             zoom-in;

              .measurementValue {

                  display:            table-row;
                  //font-size:          120%;

                  .timestamp {
                      display:            table-cell;
                      padding:            1vh 3vw 1vh 0vw;
                      white-space:        nowrap
                  }

                  .value {
                      display:            table-cell;
                      text-align:         right;
                      padding-right:      1vw;
                      white-space:        nowrap
                  }

                  .unit {
                      display:            table-cell;
                      padding-right:      2vw;
                      white-space:        nowrap
                  }

                  .verificationStatus {
                      display:            table-cell;
                      padding:            0 1vw;
                      width:              100%;
                      white-space:        nowrap
                  }

              }

          }

      }

  }

  #cryptoDetailsPage {

    padding:      0 3vw;
    min-width:    94vw;

    #intro {
        margin:                 5px 0px 10px 0px;
    }

    #cryptoData {

        display:                table;

        .row {

            display:                table-row;

            .id {
                display:                table-cell;
                padding:                2px 10px 1px 8px;
                font-weight:            bold;
                border-radius:          4px 0px 0px 4px;
            }

            .value {
                display:                table-cell;
                padding:                2px 8px 1px 0px;
                border-radius:          0px 4px 4px 0px;
            }

        }

        .row:hover {
            background-color:       orange;        
        }

        .overEntry {
            background-color:       orange;        
        }

    }

    .infoblock {

        font-family:            monospace;
        font-size:              110%;
        margin-bottom:          10px;

        .description {
            position:               relative;
            top:                    8px;
            left:                   10px;
            background-color:     #98c3e2;
            display:                inline-block;
            padding:                1px 6px;
            border-radius:          4px;
            font-size:              85%;
        }

        .value {
            overflow-wrap:          break-word;
            background-color:     #E1E1E1;
            border-radius:          4px;
            padding:                11px 10px 6px 10px;
            width:                  calc(100% - 20px);
            word-break:             break-all;
        }
        
    }

    #buffer {
        .value {

            .entry {
                display:            inline-block;
                padding:            1px 4px 1px 4px;
                margin-left:        -4px;
                border-radius:      4px;
            }

            .entry:hover {
                background-color: orange;        
            }

            .overEntry {
                background-color: orange;        
            }

        }
    }

    #signatureCheck {

        margin:         5vh 0 4vh 0;
        text-align:     center;
        font-size:      150%;
        
        i {
            font-size: 200%;
        }

        #description {
            position: relative;
            line-height: 200%;
        }

    }

  }

  #overlayText::-webkit-scrollbar {
    display:            none;
  }

}

body::-webkit-scrollbar {
  display:            none;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    body {
        min-height: 100vh;
    }
}

@import 'custom';
